@page "/pi"

<h3>Pi</h3>

<title>Flex bip</title>


<input @bind="kort" autofocus style="position: absolute; top:-50px;" />


<h1>Pi</h1>
<p id="te">@some</p>
<p id="tee">@kort</p>
<p id="teee">@last</p>

<Counter/>

@code {
    private string some = "Skan dit kort";
    private string _kort;
    private string last;
    private string kort {
        get {
            return _kort;
        }
        set {
            _kort = "";
            last = value;
            some += "a";
        } }
    public void OnPost()
    {
        //FlexBip bip = new FlexBip();
        //some = bip.bip(kort);
    }
}
