@page "/pi"
@layout EmptyLayout
@using Buisness

<h3>Pi</h3>

<title>Flex bip</title>


<input @onchange="CardScanned" autofocus @ref="firstInput" style="position: absolute; top:-50px;" />


<h1>Pi</h1>
<p id="te">@some</p>

@code {
    private ElementReference firstInput;
    List<string> personer = new List<string>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await firstInput.FocusAsync();
        /*
        if (firstRender)
        {
        }
        */
    }
    async Task CardScanned(ChangeEventArgs e)
    {
        Tid tid = new Tid();
        string response = await tid.CallFlexBip(e.Value.ToString());
        personer.Add(e.Value.ToString());
        some = response;
        await Task.Delay(1000);
        personer.Remove(e.Value.ToString());
        if (personer.Count == 0)
        {
            some = "Virker det?";
        }
    }

    private string some = "Skan dit kort";
}
